name: Publish distribution to PyPI and TestPyPI

on: push

jobs:
    build:
      name: Build distribution
      runs-on: ubuntu-latest
  
      steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install pypa/build
        run: >-
          python3 -m
          pip install
          build
          --user
      - name: Set development version
        run: >-
          if [ "${{ github.ref }}" == "refs/heads/master" ]; then
            # If the branch is master, set to a release candidate version
            sed -i "s/VERSION = \".*\"/VERSION = \"$(cat pyemvue/__version__.py | grep -oP '(?<=VERSION = \").*(?=\")').rc${{ github.run_number }}\"/" pyemvue/__version__.py
          elif [[ ! "${{ github.ref }}" =~ ^refs/tags/.* ]]; then
            # If the branch is not master and not a tag, set to a development version
            sed -i "s/VERSION = \".*\"/VERSION = \"$(cat pyemvue/__version__.py | grep -oP '(?<=VERSION = \").*(?=\")').dev${{ github.run_number }}\"/" pyemvue/__version__.py
          fi
      - name: Build a binary wheel and a source tarball
        run: python3 -m build
      - name: Store the distribution packages
        uses: actions/upload-artifact@v4.6.0
        with:
          name: python-package-distributions
          path: dist/

    publish-to-pypi:
      name: >-
        Publish to PyPI
      if: startsWith(github.ref, 'refs/tags/')  # only publish to PyPI on tag pushes
      needs:
      - build
      runs-on: ubuntu-latest
      environment:
        name: pypi
        url: https://pypi.org/project/pyemvue/
      permissions:
        id-token: write  # IMPORTANT: mandatory for trusted publishing
  
      steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4.1.8
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

    github-release:
      name: >-
        Sign the distribution with Sigstore
        and upload them to GitHub Release
      needs:
      - publish-to-pypi
      runs-on: ubuntu-latest
  
      permissions:
        contents: write  # IMPORTANT: mandatory for making GitHub Releases
        id-token: write  # IMPORTANT: mandatory for sigstore
  
      steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4.1.8
        with:
          name: python-package-distributions
          path: dist/
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@v1.2.3
        with:
          inputs: >-
            ./dist/*.tar.gz
            ./dist/*.whl
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # Upload to GitHub Release using the `gh` CLI.
        # `dist/` contains the built packages, and the
        # sigstore-produced signatures and certificates.
        run: >-
          gh release upload
          '${{ github.ref_name }}' dist/**
          --repo '${{ github.repository }}'
  
    publish-to-testpypi:
      name: Publish to TestPyPI
      needs:
      - build
      runs-on: ubuntu-latest
  
      environment:
        name: testpypi
        url: https://test.pypi.org/project/pyemvue
  
      permissions:
        id-token: write  # IMPORTANT: mandatory for trusted publishing
  
      steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4.1.8
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
